*, :before, :after, :hover {
    box-sizing: border-box;
}

* {
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

html, body {
    width: 100%;
}

body {
    background: #f0f0f0 url("../images/disk_icon1.svg") repeat;
    background-size: 10%;
    background-attachment: fixed;
    font-family: "OpenSansRegular", sans-serif;
}

ul {
    font-size: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover, button:hover, input[type=submit]:hover, .back {
    cursor: pointer;
}

.back{
    font-size: 14px;
}

p {
    margin: 0;
}

button {
    vertical-align: middle;
    background: none;
    border: 0;
    border-radius: 0;
}

.content-block {
    width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

.menu-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
    background-color: rgba(14, 17, 22, 0.9);
    z-index: 999;
}

.menu-top a {
    padding: 0 20px;
}

.menu-logo-home {
    display: none;
}

.menu-logo-other {
    display: inline-block;
}

.menu-logo-home a, .menu-logo-other a {
    line-height: 40px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.menu-logo-home img, .menu-logo-other img {
    vertical-align: middle;
}

.menu-top ul {
    width: 1000px;
    margin: 0 auto;
}

.menu-top a, .menu-top ul li {
    display: inline-block;
    vertical-align: middle;
}

.menu-top a, .menu-top p {
    font-size: 14px;
    color: #fff;
}

.menu-top ul li a {
    line-height: 57px;
    border-bottom: 3px solid transparent;
}

.menu-top ul li a:hover {
    color: #f0f0f0;
    border-bottom: 3px #ffb204 solid;
}

.basket, .phone {
    float: right;
}

.phone {
    line-height: 20px;
    margin: 10px 0;
}

.basket a, .add-to-cart {
    padding: 0 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    border: 1px solid transparent;
}

.basket a {
    line-height: 40px;
    margin: 10px 0 10px 60px;
}

.basket span {
    font-weight: bold;
}

.basket a:hover, .add-to-cart:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
    color: inherit;
}

.banner {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px rgba(14, 17, 22, 0.9) solid;
    height: 460px;
    z-index: -2;
}

.banner-img {
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: url("../images/banner6.jpg") no-repeat center;
    background-attachment: fixed;
    background-position-y: 60px;
    z-index: -1;

}

.my-cart {
    text-align: center;
    margin-top: 20px;
}

.my-cart a {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid;
}

.my-cart a:hover {
    border: 0;
}

.single-goods {
    background: white;
    width: 320px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    line-height: 1.5em;
    position: relative;
}

.single-goods:nth-of-type(3n+2) {
    margin: 0 20px;
}

.single-goods:nth-of-type(3n), #more {
    margin-bottom: 30px;
}

.single-goods img {
    width: 250px;
    height: 250px;
    margin: 10px 0;
    border-radius: 3px;
}

.single-goods p {
    font-size: 14px;
}

.single-goods p:first-child {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline;
}

.rating {
    margin-top: 5px;
}

.star-empty, .star-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px;
}

.star-empty {
    background: url(../images/star-empty1.svg) no-repeat center;
    background-size: 100%;
}

.star-color {
    background: url(../images/star-color1.svg) no-repeat center;
    background-size: 100%;
}

.goods-header::after, .goods-header::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.goods-header::after {
    margin-left: 10px;
}

.goods-header::before {
    margin-right: 10px;
}

.cost::after {
    content: ' $';
}

.single-goods p:last-child {
    margin-top: 10px;
    font-size: 12px;
}

#goods::after {
    content: ' ';
    display: block;
    clear: left;
    height: 0;
}

#goods {
    overflow: hidden;
    height: 1100px;
}

.kolvo input, .minus + span {
    width: 100px;
    line-height: 25px;
    box-shadow: none;
    background: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 5px 0 20px;
    display: inline-block;
}

.minus + span {
    border: 0;
}

.items, .outText, .outCount {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.minus, .plus, .delete {
    /*color: #ffb204;*/
    color: #ffc757;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    height: 40px;
    width: 40px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.delete:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    transition: 1s;
}

.delete:active{
    outline: none;
}

.single-goods .add-to-cart {
    font-size: 14px;
    line-height: 2.8em;
    font-weight: bold;
    display: inline-block;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: calc(50% - 60px);
    z-index: 5;
    height: 60px;
    width: 60px;
    background: url("../images/up-arrow.svg");
    border-radius: 50%;
    opacity: 0.9;
}

.scroll-top:hover{
    cursor: pointer;
    opacity: 1;
}

.sad-icon {
    width: 100px;
    height: 100px;
    margin: calc(50% - 280px) auto 20px;
    background: url("../images/sad.svg") no-repeat center;
}

.cart-header {
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.price {
    text-align: center;
}

#more {
    text-align: center;
    width: 40px;
    height: 40px;
    display: block;
    background: url("../images/show-more.svg") no-repeat center;
    background-size: 60px;
    background-position: -10px 10px;
    opacity: 0.9;
    margin: 0 auto;
}

#more:hover{
    opacity: 1;
}

.content-block .form, .brend {
    margin-top: 20px;
    /*margin-bottom: 100px;*/
}

.form {
    color: #3f3f3f;
    padding-bottom: 40px;
}

.order-contact-info *, .order-payment * {
    margin: auto;
}

.CONTAINER * {
    margin: 0;
}

.CONTAINER {
    margin: 0 auto 10px;
    width: 350px;
}

.order-contact-info, .order-payment {
    display: block;
    float: left;
    text-align: center;
    width: 500px;
}

.cvc{
    position: relative;
}

.form input[type=text], .drop-menu, .inputCVC {
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    line-height: 40px;
    height: 40px;
    width: 350px;
    border: 0;
    color: #595959;
    margin-bottom: 10px;
    background: #fff;
}

.form input[type=text]:focus,
.form input[type=text]:hover,
.drop-menu:hover {
    box-shadow: 0 0 5px rgb(195, 195, 195);
}

/*Styling Selectbox*/
.drop-menu {
    transition: all .5s ease;
    position: relative;
    text-align: left
}

.drop-menu .select {
    cursor: pointer;
    display: block;
}

.drop-menu .select i {
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}

.drop-menu .select i:after {
    content: '▼';
}

.drop-menu.active:hover,
.drop-menu.active {
    border-radius: 3px 3px 0 0;
    background-color: #fcfcfc;
}

.drop-menu.active .select i {
    transform: rotate(180deg);
}

.drop-menu .dropeddown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 120px;
    overflow-y: auto;
}

.drop-menu .dropeddown li {
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 0 10px;
}

.drop-menu .dropeddown {
    padding: 0;
    list-style: none;
    font-size: 14px;
    z-index: 9;
}

.drop-menu .dropeddown li:hover {
    background-color: #f2f2f2;
}

.drop-menu .dropeddown li:active {
    background-color: #e2e2e2;
}

.brend {
    background-color: #fff;
    text-align: center;
}

.brend img {
    margin: 15px;
}

.form input[type=submit] {
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    font-size: 15px;
    border: 1px solid transparent;
    margin: 0 auto;
    display: block;
}

.textForm {
    text-align: center;
    margin-bottom: 10px;
}

.outTextForm {
    font-size: 18px;
}

.order-heading {
    margin: 10px auto;
}

.content-block .oplata, .content-block .kredit {
    display: none;
    height: auto;
}

.oplata img, .kredit img, .numberOpl, .numberOplKredit {
    width: 75px;
    height: 75px;
    clear: both;
    /*display: inline-block;*/
}

.oplata img, .kredit img {
    margin-right: 16px;
}

.oplata img:last-of-type, .kredit img:last-of-type {
    margin-right: 0;
}

.img-card {
    display: inline-block;
}

/*.kredit img{*/
/*margin-bottom: 20px;*/
/*}*/
/*.kredit img:nth-last-child(1){*/
/*background: white;*/
/*}*/

select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.kartForm, .kreditForm {
    display: none;
}

.kartForm .inp {
    margin: 0;
}

.selectFormP {
    margin: 0;
    float: left;
}

.group {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-right: 20px;
}

.form input.birth-date, .birth-date {
    width: 110px;
    display: inline-block;
}

.form input.term, .term {
    width: 115px;
    display: inline-block;
}

.term:last-of-type{
    float: right;
}

.term-heading {
    display: inline-block;
}

.form input.inpNumber {
    width: 275px;
}

.birth-date:nth-of-type(2) {
    margin: 0 6px;
}

.kreditForm input {
    margin-bottom: 20px;
}

.inputCVC {
    width: 90px;
    font-family: 'Roboto', serif;
    font-weight: bold;
    text-align: center;
    margin-left: 1px;
}

.CVC2 {
    width: 142px;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 3px;
}

.cvv2-key, .deleteCVC {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
}

.cvv2-key:hover, .deleteCVC:hover {
    background-color: #e2e2e2;
}


.RangeSlider_ParticipantName {
    padding-bottom: 10px;
    display: block;
}

/*.RangeSlider_ClickArea {*/
/*position: relative;*/
/*padding: 20px 0 15px 0;*/
/*margin-top: -20px;*/
/*outline: 1px dashed #fff; !* to show clickarea *!*/
/*user-select: none;*/
/*}*/
/*.RangeSlider_ParticipantName {*/
/*font-size: 12px;*/
/*color: red;*/
/*text-align: center;*/
/*height: 49px;*/
/*line-height: 49px;*/
/*width: 1000px;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*}*/
.RangeSlider_Track {
    width: 350px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    background-color: #888;
    position: relative;
    transition: all .3s;
}

.RangeSlider_TrackFill {
    position: relative;
    width: 0%;
    height: 5px;
    background-color: #5e5e5e;
    transition: width .1s ease-in;
}

/*!* when thumb is being dragged, remove the transition *!*/
.RangeSlider_TrackFill.RangeSlider_TrackFill-stopAnimation {
    transition: none;
}

.RangeSlider_Thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(50%, -33.33%);
}

/*!* when thumb is being dragged, increase the size so the cursor can come outside of it slightly *!*/
.RangeSlider_TrackFill-stopAnimation .RangeSlider_Thumb:before {
    content: "";
    display: block;
    position: absolute;
    top: -500px;
    left: -500px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.RangeSlider_Points {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 4px;
    /*margin-right: 1390px;*/
}

.RangeSlider_Point {
    cursor: pointer;
    text-align: center;
    margin-right: -10px;
    color: #666
}

.RangeSlider_Point:hover {
    color: #000;
}

.RangeSlider_Point:before {
    content: "";
    display: block;
    height: 5px;
    width: 1px;
    background-color: #666;
    margin: 0 auto;
}

.RangeSlider_Point.RangeSlider_PointActive {
    color: #000;
}

.order-cost{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*.range ul {*/
/*margin: 20px 0;*/
/*padding: 0;*/
/*}*/

/*.range input {*/
/*width: 400px;*/
/*}*/

/*.range li {*/
/*display: inline-block;*/
/*border: 1px solid #ccc;*/
/*width: 30px;*/
/*line-height: 25px;*/
/*cursor: pointer;*/
/*margin: 2px;*/
/*background-color: rgba(220, 220, 220, .1);*/

/*text-align: center;*/
/*padding: 4px 15px;*/

/*border-radius: 3px;*/
/*transition: all .3s;*/
/*box-shadow: 1px 1px 0 rgba(180, 180, 180, .1);*/
/*}*/

/*.range li:hover {*/
/*!*background-color: rgba(32, 134, 207, .65);*!*/
/*border: 1px solid red;*/
/*color: #fff;*/
/*}*/

/*.range li.active {*/
/*!*background-color: rgba(32, 134, 207, 1);*!*/
/*border: 1px solid blue;*/
/*color: #eee;*/
/*}*/

/*.brendimg:nth-child(1),.brendimg:nth-child(2),.brendimg:nth-child(3),.brendimg:nth-child(4){*/
/*border-bottom: 1px solid silver;*/
/*}*/

