*, :before, :after, :hover{
    box-sizing: border-box;
}

*{
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

html, body{
    width: 100%;
}

body{
    background: #f0f0f0 url("../images/disk_icon1.svg") repeat;
    background-size: 10%;
    background-attachment: fixed;
    font-family: "OpenSansRegular", sans-serif;
}

ul{
    font-size: 0;
}

a{
    text-decoration: none;
}

a:hover, button:hover{
    cursor: pointer;
}

button{
    vertical-align: middle;
    background: none;
    border: 0;
    border-radius: 0;
}

.content-block{
    width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

.menu-top{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
    background-color: rgba(14, 17, 22, 0.9);
    z-index: 999;
}

.menu-top a{
    padding: 0 20px;
}

.menu-logo-home{
    display: none;
}

.menu-logo-other{
    display: inline-block;
}

.menu-logo-home a, .menu-logo-other a{
    line-height: 40px;
    border-right: 1px solid rgba(255,255,255,.5);
}

.menu-logo-home img, .menu-logo-other img{
    vertical-align: middle;
}

.menu-top ul{
    width: 1000px;
    margin: 0 auto;
}

.menu-top a, .menu-top ul li{
    display: inline-block;
    vertical-align: middle;
}

.menu-top a, .menu-top p{
    font-size: 14px;
    color: #fff;
}

.menu-top ul li a{
    line-height: 57px;
    border-bottom: 3px solid transparent;
}


.menu-top ul li a:hover{
    color: #f0f0f0;
    border-bottom: 3px #ffb204 solid;
}

.basket, .phone{
    float: right;
}

.phone{
    line-height: 20px;
    margin: 10px 0;
}

.basket a, .add-to-cart{
    padding: 0 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    border: 1px solid transparent;
}

.basket a{
    line-height: 40px;
    margin: 10px 0 10px 60px;
}

.basket span{
    font-weight: bold;
}

.basket a:hover, .add-to-cart:hover{
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);
    color: inherit;
}

.banner{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px rgba(14, 17, 22, 0.9) solid;
    height: 460px;
    z-index: -2;
}

.banner-img{
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: url("../images/banner6.jpg") no-repeat center;
    background-attachment: fixed;
    background-position-y: 60px;
    z-index: -1;

}

.single-goods{
    background: white;
    width: 320px;
    float: left;
    text-align: center;
    padding: 20px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    line-height: 1.5em;
    position: relative;
}

.single-goods:nth-of-type(3n+2){
    margin: 0 20px;
}

.single-goods:nth-of-type(3n), #more{
    margin-bottom: 30px;
}

.single-goods img{
    width: 250px;
    height: 250px;
    margin: 10px 0;
    border-radius: 3px;
}

.single-goods p{
    font-size: 14px;
}

.single-goods p:first-child{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline;
}

.rating{
    margin-top: 5px;
}

.star-empty, .star-color{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px;
}

.star-empty{
    background: url(../images/star-empty1.svg) no-repeat center;
    background-size: 100%;
}

.star-color{
    background: url(../images/star-color1.svg) no-repeat center;
    background-size: 100%;
}

.goods-header::after, .goods-header::before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.goods-header::after{
    margin-left: 10px;
}

.goods-header::before{
    margin-right: 10px;
}

.cost::after{
    content: ' $';
}

.single-goods p:last-child{
    margin-top: 10px;
    font-size: 12px;
}

#goods::after{
    content: ' ';
    display: block;
    clear: left;
    height: 0;
}

#goods{
    overflow: hidden;
    height: 1100px;
}


.kolvo input, .minus+span{
    width: 100px;
    line-height: 25px;
    box-shadow: none;
    background: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 5px 0 20px;
    display: inline-block;
}

.minus+span{
    border: 0;
}
.items, .outText, .outCount{
    font-size: 15px;
    color: rgba(0,0,0,0.7);
}


.minus, .plus, .delete{
    /*color: #ffb204;*/
    color: #ffc757;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    height: 40px;
    width: 40px;
}

.delete{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.delete:hover{
    transform: rotate(360deg);
    transform-origin: center center;
    transition: 1s;
}

.single-goods .add-to-cart{
    font-size: 14px;
    line-height: 2.8em;
    font-weight: bold;
    display: inline-block;
}

.scroll-top {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;
    height: 100%;
    width: calc((100% - 1000px) / 4);
    vertical-align: top;
    text-align: center;
    padding-top: 80px;
    color: rgba(255, 178, 4, 0.5);
    font-size: 14px;
    border: 0;
    display: none;
    background: none;
}

.scroll-top:hover{
    background: linear-gradient(to bottom, rgba(255,255,255, 0.5), rgba(255,255,255, 0));
    color: rgba(255, 178, 4, 1);
}

.my-cart{
    text-align: center;
    margin: 80px auto 0;
    line-height: 2em;
}

.my-cart{
    margin: 20px 0 0;
}

.my-cart a{
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid;
}

.my-cart a:hover{
    border: 0;
}

.sad-icon{
    width: 100px;
    height: 100px;
    margin: calc(50% - 280px) auto 20px;
    background: url("../images/sad.svg") no-repeat center;
}

.cart-header{
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.price{
    text-align: center;
}

#more{
    text-align: center;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

/*.paralelogram{*/
    /*-webkit-transform: skewY(-1deg);*/
    /*-moz-transform: skewY(-1deg);*/
    /*-o-transform: skewY(-1deg);*/
/*}*/

/*.banner-img{*/
    /*-webkit-transform: skewY(1deg);*/
    /*-moz-transform: skewY(1deg);*/
    /*-o-transform: skewY(1deg);*/
/*}*/


/*@media screen and (max-width: 1325px){*/
    /*html,body{*/
        /*overflow-x: hidden;*/
    /*}*/
/*}*/
.content-block .form, .brend{
    margin-top: 50px;
    margin-bottom: 100px;
}


.inp {
    width: 400px;
    height: 45px;
    resize: none;
    margin-bottom: 10px;
    /*background: transparent;*/
}


.form textarea{
    padding-left: 20px;
    border-color: #e1e1e1;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 12px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    line-height: 1.5em;
    position: relative;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
    color: #a6a4ab;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.brend{
    background-color: #fff;
    text-align: center;
}

.brend img{
    margin: 15px;

}

.form input[type=submit]{
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    font-size: 15px;
    border: 1px solid transparent;
}

.selectForm, .selectFormP{
    margin: 20px 0;
    padding-left: 10px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.textForm{
    margin: 20px 0;
    color: #595959;
    font-size: 16px;
}

.outTextForm{
    font-size: 24px;
}



.content-block .oplata, .content-block .kredit{
    display: none;
    height: auto;
    margin: 0 auto 20px;
}

.oplata img, .kredit img{
    width: 100px;
    height: 100px;
    margin: auto 10px;
    float: left;
}
.kredit img{
    margin-bottom: 20px;
}
.kredit img:nth-last-child(1){
    background: white;
}

.textearyaImg{
    /*float: right;*/
    margin-left: 140px;
    /*margin-top: -50px;*/
    display: none;
}

div .back{
    margin-left: 40px;
}

.kartForm, .kreditForm{
    display: none;
}

.kartForm .inp{
    margin: 0;
}

.selectFormP{
    margin: 0;
}

.group{
    display: inline-block;
}
.right{
    float: right;
}
.left{
    float: left;
    margin-right: 20px;
}

.kreditForm input{
    margin-bottom: 20px;
}
.inputCVC{
    width: 60px;
    height: 40px;
    float: left;
    padding-left: 20px;
    margin-bottom: 30px;
    border-color: #e1e1e1;
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.75);
}

.CVC2{
    width: 142px;
    background: white;
    position: absolute;
    margin-top: -53px;
    margin-left: 70px;
    display: none;
}
.cvv2-key,.deleteCVC{
    width: 32px;
    height: 32px;
    margin: 5px 6px;
    background: #e4e9f0;
    cursor: pointer;
    border: 1px solid silver;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
}



.RangeSlider_ParticipantName {
    padding-bottom: 10px;
    display: block;
}
/*.RangeSlider_ClickArea {*/
    /*position: relative;*/
    /*padding: 20px 0 15px 0;*/
    /*margin-top: -20px;*/
    /*outline: 1px dashed #fff; !* to show clickarea *!*/
    /*user-select: none;*/
/*}*/
/*.RangeSlider_ParticipantName {*/
    /*font-size: 12px;*/
    /*color: red;*/
    /*text-align: center;*/
    /*height: 49px;*/
    /*line-height: 49px;*/
    /*width: 1000px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/
.RangeSlider_Track {
    width: 500px;
    border: 1px solid #5e5e5e;
    background-color: #757575;
    position: relative;
    transition: all .3s;
}
.RangeSlider_TrackFill {
    position: relative;
    width: 0%;
    height: 5px;
    background-color: #189670;
    transition: width .1s ease-in;
}
/*!* when thumb is being dragged, remove the transition *!*/
.RangeSlider_TrackFill.RangeSlider_TrackFill-stopAnimation {
    transition: none;
}
.RangeSlider_Thumb {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(50%, -33.33%);
}
/*!* when thumb is being dragged, increase the size so the cursor can come outside of it slightly *!*/
.RangeSlider_TrackFill-stopAnimation .RangeSlider_Thumb:before {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -500px;
    left: -500px;
    border-radius: 50%;
     background: rgba(255,255,255,0.1);
}
.RangeSlider_Points {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 4px;
    margin: 0 489px 0 7px;
    /*margin-right: 1390px;*/
}
.RangeSlider_Point {
    color: red;
    cursor: pointer;
    text-align: center;
    margin-right: 2px;
}
.RangeSlider_Point:hover {
    color: blueviolet;
}
.RangeSlider_Point:before {
    content: "";
    display: block;
    height: 5px;
    width: 1px;
    background-color: #666;
    margin: 0 auto;
}
.RangeSlider_Point.RangeSlider_PointActive {
    color: black;
}



/*.range ul {*/
    /*margin: 20px 0;*/
    /*padding: 0;*/
/*}*/

/*.range input {*/
    /*width: 400px;*/
/*}*/




/*.range li {*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*width: 30px;*/
    /*line-height: 25px;*/
    /*cursor: pointer;*/
    /*margin: 2px;*/
    /*background-color: rgba(220, 220, 220, .1);*/

    /*text-align: center;*/
    /*padding: 4px 15px;*/

    /*border-radius: 3px;*/
    /*transition: all .3s;*/
    /*box-shadow: 1px 1px 0 rgba(180, 180, 180, .1);*/
/*}*/

/*.range li:hover {*/
    /*!*background-color: rgba(32, 134, 207, .65);*!*/
    /*border: 1px solid red;*/
    /*color: #fff;*/
/*}*/

/*.range li.active {*/
    /*!*background-color: rgba(32, 134, 207, 1);*!*/
    /*border: 1px solid blue;*/
    /*color: #eee;*/
/*}*/



/*.brendimg:nth-child(1),.brendimg:nth-child(2),.brendimg:nth-child(3),.brendimg:nth-child(4){*/
    /*border-bottom: 1px solid silver;*/
/*}*/

