*, :before, :after, :hover {
    box-sizing: border-box;
}

* {
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

html, body {
    width: 100%;
}

body {
    background: #f0f0f0 url("../images/disk_icon1.svg") repeat;
    background-size: 160px;
    background-attachment: fixed;
    font-family: "OpenSansRegular", sans-serif;
}

ul {
    font-size: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover, button:hover, input[type=submit]:hover, .back {
    cursor: pointer;
}

.back{
    font-size: 14px;
}

p {
    margin: 0;
}

button {
    vertical-align: middle;
    background: none;
    border: 0;
    border-radius: 0;
}

.content-block {
    width: 1000px;
    margin: 0 auto;
}

.footer{
    font-style: italic;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 60px;
    background: #000 url("../images/footer.jpg") center center no-repeat;
    background-size: 500px auto;
    background-position-y: -170px;
    color: #fff;
    font-size: 14px;
}

/*HEADER*/

.menu-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
    background-color: rgba(14, 17, 22, 0.9);
    z-index: 999;
}

.menu-top a {
    padding: 0 20px;
}

.menu-logo-home {
    display: none;
}

.menu-logo-other {
    display: inline-block;
}

.menu-logo-home a, .menu-logo-other a {
    line-height: 40px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.menu-logo-home img, .menu-logo-other img {
    vertical-align: middle;
}

.menu-top ul {
    width: 1000px;
    margin: 0 auto;
}

.menu-top a, .menu-top ul li {
    display: inline-block;
    vertical-align: middle;
}

.menu-top a, .menu-top p {
    font-size: 14px;
    color: #fff;
}

.menu-top ul li a {
    line-height: 57px;
    border-bottom: 3px solid transparent;
}

.menu-top ul li a:hover {
    color: #f0f0f0;
    border-bottom: 3px #ffb204 solid;
}

.basket, .phone {
    float: right;
}

.phone {
    line-height: 20px;
    margin: 10px 0;
}

.basket a, .add-to-cart {
    padding: 0 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    border: 1px solid transparent;
}

.basket a {
    line-height: 40px;
    margin: 10px 0 10px 60px;
}

.basket a:before{
    content: '\e809';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}


.basket span {
    font-weight: bold;
}

.basket a:hover, .add-to-cart:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
    color: inherit;
}

.banner {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 3px rgba(14, 17, 22, 0.9) solid;
    height: 460px;
    z-index: -2;
}

.banner-img {
    min-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: url("../images/banner6.jpg") no-repeat center;
    background-attachment: fixed;
    background-position-y: 60px;
    z-index: -1;

}

.my-cart {
    text-align: center;
    margin-top: 20px;
}

.my-cart a {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid;
}

.brend-full{
    width: 100%;
    background: #fff;
}

.my-cart a:hover {
    border: 0;
}

.single-goods {
    background: white;
    width: 320px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    line-height: 1.5em;
    position: relative;
}

.single-goods:nth-of-type(3n+2) {
    margin: 0 20px;
}

.single-goods:nth-of-type(3n), #more {
    margin-bottom: 30px;
}

.single-goods img {
    width: 250px;
    height: 250px;
    margin: 10px 0;
    border-radius: 3px;
}

.single-goods p {
    font-size: 14px;
}

.single-goods p:first-child {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline;
}

.rating {
    margin-top: 5px;
}

.star-empty, .star-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px;
}

.star-empty {
    background: url(../images/star-empty1.svg) no-repeat center;
    background-size: 100%;
}

.star-color {
    background: url(../images/star-color1.svg) no-repeat center;
    background-size: 100%;
}

.goods-header::after, .goods-header::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.goods-header::after {
    margin-left: 10px;
}

.goods-header::before {
    margin-right: 10px;
}

.cost::after {
    content: ' $';
}

.single-goods p:last-child {
    margin-top: 10px;
    font-size: 12px;
}

#goods::after {
    content: ' ';
    display: block;
    clear: left;
    height: 0;
}

#goods {
    overflow: hidden;
    height: 1100px;
}

.kolvo input, .minus + span {
    width: 100px;
    line-height: 25px;
    box-shadow: none;
    background: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 5px 0 20px;
    display: inline-block;
}

.minus + span {
    border: 0;
}

.items, .outText, .outCount {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.minus, .plus, .delete {
    color: #ffc757;
    font-size: 20px;
    line-height: 25px;
    height: 40px;
    width: 40px;
}

.minus, .plus{
    font-size: 14px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}

.delete:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    transition: 1s;
}

.delete:active{
    outline: none;
}

.single-goods .add-to-cart {
    font-size: 14px;
    line-height: 2.8em;
    font-weight: bold;
    display: inline-block;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: calc(50% - 60px);
    z-index: 5;
    height: 60px;
    width: 60px;
    background: url("../images/up-arrow.svg");
    border-radius: 50%;
    opacity: 0.9;
}

.scroll-top:hover{
    cursor: pointer;
    opacity: 1;
}

.sad-icon {
    width: 100px;
    height: 100px;
    margin: calc(50% - 280px) auto 20px;
    background: url("../images/sad.svg") no-repeat center;
}

.cart-header {
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.price {
    text-align: center;
    font-weight: bold;
}

#more {
    text-align: center;
    width: 40px;
    height: 40px;
    display: block;
    background: url("../images/show-more.svg") no-repeat center;
    background-size: 60px;
    background-position: -10px 10px;
    opacity: 0.9;
    margin: 0 auto;
}

#more:hover{
    opacity: 1;
}

.content-block .form, .brend {
    margin-top: 20px;
    /*margin-bottom: 100px;*/
}

.form {
    color: #3f3f3f;
    padding-bottom: 40px;
}

.order-contact-info *, .order-payment * {
    margin: auto;
}

.CONTAINER * {
    margin: 0;
}

.CONTAINER {
    margin: 0 auto 10px;
    width: 350px;
}

.order-contact-info, .order-payment {
    display: block;
    float: left;
    text-align: center;
    width: 500px;
}

.cvc{
    position: relative;
}

.form input[type=text], .drop-menu, .inputCVC {
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    line-height: 40px;
    height: 40px;
    width: 350px;
    border: 0;
    color: #595959;
    margin-bottom: 10px;
    background: #fff;
}

.form input[type=text]:focus,
.form input[type=text]:hover,
.drop-menu:hover {
    box-shadow: 0 0 5px rgb(195, 195, 195);
}

/*Styling Selectbox*/
.drop-menu {
    transition: all .5s ease;
    position: relative;
    text-align: left
}

.drop-menu .select {
    cursor: pointer;
    display: block;
}

.drop-menu .select i {
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}

.drop-menu .select i:after {
    content: '\e805';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}

.drop-menu.active:hover,
.drop-menu.active {
    border-radius: 3px 3px 0 0;
    background-color: #fcfcfc;
}

.drop-menu.active .select i {
    transform: rotate(180deg);
}

.drop-menu .dropeddown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 120px;
    overflow-y: auto;
}

.drop-menu .dropeddown li {
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 0 10px;
}

.drop-menu .dropeddown {
    padding: 0;
    list-style: none;
    font-size: 14px;
    z-index: 9;
}

.drop-menu .dropeddown li:hover {
    background-color: #f2f2f2;
}

.drop-menu .dropeddown li:active {
    background-color: #e2e2e2;
}

.brend {
    background-color: #fff;
    text-align: center;
}

.brend img {
    margin: 15px;
}

.form input[type=submit] {
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    background-color: #ffb204;
    font-size: 15px;
    border: 1px solid transparent;
    margin: 0 auto;
    display: block;
}

.textForm {
    text-align: center;
    margin-bottom: 10px;
}

.outTextForm {
    font-size: 18px;
}

.order-heading {
    margin: 10px auto;
}

.content-block .oplata, .content-block .kredit {
    display: none;
    height: auto;
}

.oplata img, .kredit img, .numberOpl, .numberOplKredit {
    width: 75px;
    height: 75px;
    clear: both;
    /*display: inline-block;*/
}

.oplata img, .kredit img {
    margin-right: 16px;
}

.oplata img:last-of-type, .kredit img:last-of-type {
    margin-right: 0;
}

.img-card {
    display: inline-block;
}

select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.kartForm, .kreditForm {
    display: none;
}

.kartForm .inp {
    margin: 0;
}

.selectFormP {
    margin: 0;
    float: left;
}

.group {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-right: 20px;
}

.sign{
    font-size: 14px;
    line-height: 2em;
}

.form input.birth-date, .birth-date {
    width: 110px;
    display: inline-block;
}

.form input.term, .term {
    width: 115px;
    display: inline-block;
}

.term:last-of-type{
    float: right;
}

.term-heading {
    display: inline-block;
}

.form input.inpNumber {
    width: 275px;
}

.birth-date:nth-of-type(2) {
    margin: 0 6px;
}

.kreditForm input {
    margin-bottom: 20px;
}

.inputCVC {
    width: 90px;
    font-family: 'Roboto', serif;
    font-weight: bold;
    text-align: center;
    margin-left: 1px;
}

.CVC2 {
    width: 142px;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 3px;
}

.cvv2-key, .deleteCVC {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
}

.cvv2-key:hover, .deleteCVC:hover {
    background-color: #e2e2e2;
}

.order-cost{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wrap {
    padding: 20px 10px 50px;
}
#nlVal {
    display:inline-block;
}
#slider {
    width: 90%;
    height: 10px;
    background: lightgrey;
    border-radius: 50px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align:left;
    font-size: 13px;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 100%;
    background: black;
    border: 6px solid #ffb204;
    width: 20px;
    height: 20px;
    top: -5px;
    cursor:grab;
}

.ui-slider-handle.ui-state-active,
.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-focus {
    border: none;
    outline: 0;
}

.ui-slider-handle.ui-state-active:after {
    content: 'Месяцев';
    position: absolute;
    top: -40px;
    left: -19px;
    background: #ffb204;
    color: black;
    font-size: .700em;
    padding: 5px 8px;
}

.ui-slider-handle.ui-state-active:before {
    content: '';
    background: #ffb204;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -20px;
    transform: rotate(45deg);
}
